@include mobile {
  .about {
    display: none;
  }
}

@include tablet-to-desktop {
  .about {
    display: none;
  }
}

@include desktop {
  .about {
    padding-top: var(--first-padding);
    padding-bottom: var(--first-padding);

    &__title {
      margin-bottom: var(--first-margin);

      @include font-face(null, null, 36px, 1.16, 0.03em);
      text-align: center;
      color: var(--secondary-title);
    }

    &__list {
      display: flex;
      margin-left: calc(-1 * var(--second-margin));
    }

    &__item {
      position: relative;
      flex-basis: calc(100% / 3 - var(--second-margin));
      margin-left: var(--second-margin);
    }

    &__text {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 70px;
      padding-top: 27px;
      padding-bottom: 27px;

      @include font-face(null, 700, 14px, 1.14, 0.03em);
      text-align: center;
      text-transform: uppercase;

      background-color: var(--seven-backgound);
      color: var(--main-title);
    }
  }
}
