@include mobile {
  .about {
    display: none;
  }
}

@include tablet-to-desktop {
  .about {
    display: none;
  }
}

@include desktop {
  .about {
    padding-top: var(--first-padding);
    padding-bottom: var(--first-padding);

    &__title {
      margin-bottom: var(--first-margin);

      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--secondary-title);
    }

    &__list {
      display: flex;
      margin-left: calc(-1 * var(--second-margin));
    }

    &__item {
      position: relative;
      flex-basis: calc(100% / 3 - var(--second-margin));
      margin-left: var(--second-margin);
    }

    &__text {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 70px;
      padding-top: 27px;
      padding-bottom: 27px;

      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      background-color: var(--seven-backgound);
      color: var(--main-title);
    }
  }
}
