.benefits {
  padding-top: var(--second-padding);
  padding-bottom: var(--second-padding);
  // padding-top: var(--first-padding);
  // padding-bottom: var(--first-padding);

  &__title {
    // margin-bottom: var(--first-margin);
    margin-bottom: var(--second-margin);

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-title);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: calc(-1 * var(--second-margin));

    margin-bottom: calc(-1 * var(--second-margin));
  }

  &__item {
    flex-basis: calc(100% / 2 - var(--second-margin));
    margin-left: var(--second-margin);

    margin-bottom: var(--second-margin);

    width: 170px;
    height: 92px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 16px 52px;
    // padding: 16px 32px;
    width: 100%;
    height: 100%;
    color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 4px;
    fill: currentColor;

    transition: fill 250ms cubic-bezier(var(--cubic-bezier)),
      border-color 250ms cubic-bezier(var(--cubic-bezier));
  }

  &__link:hover,
  &__link:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }

  @include tablet {
    &__item {
      flex-basis: calc(100% / 3 - var(--second-margin));
    }
  }
}
