.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  // padding-top: 200px;
  // padding-bottom: 200px;
}

.hero {
  background-color: var(--fifth-background);
  background-image: linear-gradient(
      var(--six-background),
      var(--six-background)
    ),
    url(..//images/hero-bg-tab-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 480px;
  margin: 0 auto;

  @include screen2x {
    background-image: linear-gradient(
        var(--six-background),
        var(--six-background)
      ),
      url(..//images/hero-bg-tab-mob-2x.jpg);
    background-size: cover;
  }

  @include screen3x {
    background-image: linear-gradient(
        var(--six-background),
        var(--six-background)
      ),
      url(..//images/hero-bg-tab-mob-3x.jpg);
    background-size: cover;
  }

  @include tablet {
    background-image: linear-gradient(
        var(--six-background),
        var(--six-background)
      ),
      url(..//images/hero-bg-tab-mob-2x.jpg);
    max-width: 768px;
    margin: 0 auto;
  }

  @include desktop {
    background-image: linear-gradient(
        var(--six-background),
        var(--six-background)
      ),
      url(..//images/hero-bg-tab-mob-3x.jpg);
    max-width: 480px;
    margin: 0 auto;
  }

  &__title {
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    // width: 696px;
    margin-bottom: var(--second-margin);

    @include font-face(null, 900, 26px, 1.62, 0.06em);
    // font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    // text-align: center;
    // letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-title);
  }

  &__btn {
    background-color: var(--secondary-background);
  }

  &__btn:hover,
  &__btn:focus {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--main-title);
    box-shadow: var(--box-shadow-four);
  }
}
