.portfolio {
  padding-top: var(--second-padding);
  padding-bottom: var(--second-padding);
  @include desktop {
    padding-top: var(--first-padding);
    padding-bottom: var(--first-padding);
  }
}

.filter {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--fitth-margin);
    margin-bottom: var(--second-margin);

    @include tablet {
      justify-content: center;
    }
    @include desktop {
      margin-bottom: var(--first-margin);
    }
  }

  &__item {
  }

  &__btn {
    padding: 6px 22px;

    font-family: inherit;
    @include font-face(null, 500, 16px, 1.62, 0.03em);
    text-align: center;
    color: var(--secondary-title);
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--secondary-background);
    transition: background-color 250ms cubic-bezier(var(--cubic-bezier)),
      color 250ms cubic-bezier(var(--cubic-bezier)),
      box-shadow 250ms cubic-bezier(var(--cubic-bezier));
  }

  &__btn:hover,
  &__btn:focus {
    color: var(--main-title);
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-third);
  }
}

.card {
  display: flex;
  flex-wrap: wrap;

  gap: var(--second-margin);

  &__item {
  }

  /* .portfolio-item-preview:hover .portfolio-img-text,
.portfolio-item-preview:focus .portfolio-img-text, */
  &__link:focus &__copy,
  &__link:hover &__copy {
    transform: translateY(0);
  }

  &__tumb {
    position: relative;
    overflow: hidden;
  }

  &__copy {
    @include mobile320 {
      padding: 31px 12px;
      @include font-face(null, null, 12px, 1.16, 0.03em);
    }
    position: absolute;
    transform: translateY(120%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 77px 24px;

    @include font-face(null, null, 18px, 1.56, 0.03em);
    color: var(--main-title);
    background-color: var(--eight-background);

    transition: transform 250ms cubic-bezier(var(--cubic-bezier));
  }

  &__wrap {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  &__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-title);
  }

  &__text {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text);
  }

  &__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(var(--cubic-bezier));
  }

  &__link:hover,
  &__link:focus {
    box-shadow: var(--box-shadow-second);
  }

  @include tablet {
    &__item {
      flex-basis: calc((100% - var(--second-margin)) / 2);
    }

    &__copy {
      padding: 49px 24px 77px 24px;
    }
  }

  @include desktop {
    &__item {
      flex-basis: calc((100% - var(--ten-margin)) / 3);
    }

    &__copy {
      padding: 63px 24px;
    }
  }
}
