.team {
  padding-top: var(--second-padding);
  padding-bottom: var(--second-padding);

  @include desktop {
    padding-top: var(--first-padding);
    padding-bottom: var(--first-padding);
  }

  background-color: var(--secondary-background);

  &__title {
    margin-bottom: var(--first-margin);

    @include font-face(null, null, 36px, 1.16, 0.03em);
    text-align: center;
    color: var(--secondary-title);
  }
}

.team-card {
  @include tablet {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: calc(-1 * var(--second-margin));
      margin-left: calc(-1 * var(--second-margin));
    }

    &__item {
      flex-basis: calc(100% / 2 - var(--second-margin));
      margin-bottom: var(--second-margin);
      margin-left: var(--second-margin);
    }
  }

  @include desktop {
    &__item {
      flex-basis: calc(100% / 4 - var(--second-margin));
    }
  }

  &__item {
    box-shadow: var(--box-shadow);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--third-background);
  }

  &__container {
    padding-top: var(--second-margin);
    padding-bottom: var(--second-margin);
  }

  &__title {
    margin-bottom: var(--third-margin);

    @include font-face(null, 500, 16px, 1.18, 0.03em);
    text-align: center;
    color: var(--secondary-title);
  }
  &__text {
    margin-bottom: var(--six-margin);

    @include font-face(null, null, null, 1.18, 0.03em);
    text-align: center;
    color: var(--secondary-text);
  }
}

.soc {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin-right: var(--third-margin);
    width: 44px;
    height: 44px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--third-color);
    fill: currentColor;

    transition: fill 250ms cubic-bezier(var(--cubic-bezier)),
      background-color 250ms cubic-bezier(var(--cubic-bezier));
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
    fill: var(--third-background);
  }
}
