@include tablet {
  .header-list .current {
    color: var(--accent-color);
  }

  .current::after {
    position: absolute;
    display: block;
    bottom: -34px;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@include tablet-l {
  .current::after {
    bottom: -34px;
  }
}

@include desktop {
  .current::after {
    bottom: -32px;
  }
}
