.footer {
  padding-top: var(--second-padding);
  padding-bottom: var(--second-padding);

  background-color: var(--main-background);

  @include mobile {
    &__wrap {
      text-align: center;
    }
  }

  @include tablet-to-desktop {
    &__wrap {
      text-align: center;
    }
  }

  @include tablet {
    &__list--wrap {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }
  }

  @include desktop {
    & .container {
      display: flex;
      justify-content: space-between;
    }

    &__list--wrap {
      align-items: stretch;
    }

    &__wrap {
      margin-right: 70px;
    }
  }
}

.footer__logo {
  color: var(--main-title);

  &--anim:hover .logo--color-change,
  &--anim:focus .logo--color-change {
    color: var(--main-title);
  }
}

.address {
  margin-top: 20px;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  @include mobile {
    text-align: center;
    &__item:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @include tablet-to-desktop {
    text-align: center;
    &__item:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    @include font-face(null, null, 14px, 1.71, 0.03em);
    color: var(--main-title);

    transition: color 250ms cubic-bezier(var(--cubic-bezier));
  }

  &__link--text-color {
    color: var(--five-text);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
}

.soc {
  @include mobile {
    &__wrap--margin {
      margin-top: var(--fourth-margin);
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;

    @include font-face(null, null, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--main-title);
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin-right: var(--third-margin);
    width: 44px;
    height: 44px;
  }

  &__link--color {
    background: rgba(255, 255, 255, 0.1);
    color: var(--main-title);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
  }
}

.submit {
  @include mobile {
    &__form {
      margin-top: var(--fourth-margin);
    }
  }

  @include tablet-to-desktop {
    &__form {
      margin-top: var(--fourth-margin);
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;

    @include font-face(null, null, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--main-title);
  }

  &__input--field {
    padding: 15px 16px;
    min-width: 100%;
    height: 50px;
    border: 1px solid var(--border-color-second);
    border-radius: 4px;
    @include font-face(null, null, 16px, 1.25, 0.03em);
    color: var(--five-text);
    background-color: transparent;
    outline: none;
  }

  &__input--field::placeholder {
    color: var(--four-text);
  }

  &__input--field input:-webkit-autofill {
    background-color: var(--fifth-background);
    color: var(--five-text);
  }

  &__input--field:focus,
  &__input--field:hover {
    border-color: var(--accent-color);
  }

  &__input:-webkit-autofill {
    background-color: #ffffff;
  }

  &__btn {
    @include mobile {
      margin-top: 20px;
    }

    @include tablet-to-desktop {
      margin-top: 20px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--main-title);
    background-color: var(--accent-color);
  }

  &__icon {
    margin-left: 10px;
    fill: currentColor;
  }

  &__btn:hover,
  &__btn:focus {
    color: var(--accent-color);
    background-color: var(--secondary-background);
    box-shadow: var(--box-shadow-four);
  }

  @include tablet {
    &__input--field {
      display: flex;
      margin: 0 auto;
      min-width: 450px;
    }
  }

  @include desktop {
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__input--field {
      min-width: 358px;
    }

    &__btn {
      margin-left: 12px;
    }
  }
}
