.header {
  background-color: var(--third-background);
  border-bottom: 1px solid #ececec;

  & .container {
    display: flex;
    align-items: center;
  }
}

.logo {
  @include font-logo();
  color: var(--secondary-color);
  @include desktop {
    @include font-logo(null, 700, 26px, 1.19, 0.03em);
  }

  transition: color 250ms cubic-bezier(var(--cubic-bezier));

  &--color-change {
    color: var(--accent-color);

    transition: color 250ms cubic-bezier(var(--cubic-bezier));
  }

  &:focus,
  &:hover {
    color: var(--accent-color);
  }

  &--anim:hover &--color-change,
  &--anim:focus &--color-change {
    color: var(--secondary-color);
  }
}

@include mobile {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .nav {
    &__list {
      display: none;
    }

    &__contacts {
      display: none;
    }

    &__mob-menu {
      position: absolute;
      right: 15px;
      top: 10px;

      background-color: transparent;
      border-color: transparent;
      color: --secondary-title;
      fill: currentColor;
    }

    &__mob-close {
      position: absolute;
      right: 15px;
      top: 10px;

      background-color: transparent;
      border-color: transparent;
      color: --secondary-title;
      fill: currentColor;
    }

    &__mob-close:hover,
    &__mob-close:focus,
    &__mob-menu:hover,
    &__mob-menu:focus {
      color: var(--accent-color);
    }
  }
}

@include tablet {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .nav {
    display: flex;
    align-items: center;

    &__link:hover,
    &__link:focus {
      color: var(--accent-color);
    }

    &__logo {
      margin-right: 22px;

      @include tablet-l {
        margin-right: 88px;
      }

      @include desktop {
        margin-right: 93px;
      }
    }

    &__list {
      display: flex;
      align-items: center;
    }

    &__item:not(:first-child) {
      margin-left: 25px;

      @include tablet-l {
        margin-left: var(--first-margin);
      }
    }

    &__item {
      position: relative;
    }

    &__link {
      padding: 24px 0;
      @include font-face(null, 500, 14px, 1.14, 0.02em);
      color: var(--main-text);

      transition: color 250ms cubic-bezier(var(--cubic-bezier));
    }

    &__contacts {
      margin-left: auto;
    }

    @include tablet {
      &__mob-menu {
        display: none;
      }
      &__mob-close {
        display: none;
      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      @include font-face(null, 500, 14px, 1.14, 0.02em);
      color: var(--secondary-text);
      fill: currentColor;

      transition: color 250ms cubic-bezier(var(--cubic-bezier));
    }

    &__link:hover,
    &__link:focus {
      color: var(--accent-color);
    }
  }

  .mail-icon,
  .phone-icon {
    color: currentColor;
    margin-right: 10px;
  }
}

@include tablet-to-desktop {
  .contacts__item:not(:first-child) {
    margin-top: var(--third-margin);
  }
}

@include desktop {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .contacts {
    flex-direction: row;
    align-items: center;

    &__item {
      margin-top: 0;
      margin-left: var(--first-margin);
    }
  }
}
