:root {
  --main-text: #212121;
  --secondary-text: #757575;
  --third-text: #ffffff99;
  --four-text: rgba(117, 117, 117, 0.5);
  --five-text: rgba(255, 255, 255, 0.6);
  --main-title: #ffffff;
  --secondary-title: #212121;
  --accent-color: #2196f3;
  --secondary-color: #000000;
  --third-color: #afb1b8;
  --four-color: #ffffff;
  --main-background: #2f303a;
  --secondary-background: #f5f4fa;
  --third-background: #ffffff;
  --four-background: #e5e5e5;
  --fifth-background: #c4c4c4;
  --six-background: rgba(47, 48, 58, 0.4);
  --seven-backgound: rgba(47, 48, 58, 0.8);
  --eight-background: rgba(33, 150, 243, 0.9);
  --modal-background: rgba(0, 0, 0, 0.2);
  --border-color: rgba(33, 33, 33, 0.2);
  --border-color-second: rgba(255, 255, 255, 0.3);
  --first-margin: 50px;
  --second-margin: 30px;
  --third-margin: 10px;
  --fourth-margin: 60px;
  --fitth-margin: 8px;
  --six-margin: 16px;
  --seven-margin: 70px;
  --first-padding: 94px;
  --second-padding: 60px;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-second: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --box-shadow-third: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow-four: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --cubic-bezier: 0.4, 0, 0.2, 1;
}
